<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>測驗</title>
    <script type="text/javascript">
        var answer = "{{ problem['answer'] }}".toLowerCase();
        function checkAnswer() {
            let form = document.forms["problemForm"];
            let input = form["options"].value;
            if (input == answer) {
                alert("答案正確");
                form.submit();
            }
            else if (input == ""){
                alert("未輸入答案");
            }
            else {
                alert("答案錯誤")
            }
        }
    </script>
</head>
<body>
    <p>{{ problem['question'] }}</p>
    {% if problem['image_q'] != None %}
    <img src="{{ url_for('static', filename='images/'+problem['image_q']) }}" height="100" />
    {% endif %}
    <form name="problemForm" method="post">
        <input type="radio" id="a" name="options" value="a" />
        <label for="a">
            (A) {{ problem['option_a'] if problem['option_a'] != None else '' }}
            {% if problem['image_a'] != None %}
            <img src="{{ url_for('static', filename='images/'+problem['image_a']) }}" height="50" />
            {% endif %}
        </label><br />
        <input type="radio" id="b" name="options" value="b" />
        <label for="b">
            (B) {{ problem['option_b'] if problem['option_b'] != None else '' }}
            {% if problem['image_b'] != None %}
            <img src="{{ url_for('static', filename='images/'+problem['image_b']) }}" height="50" />
            {% endif %}
        </label><br />
        <input type="radio" id="c" name="options" value="c" />
        <label for="c">
            (C) {{ problem['option_c'] if problem['option_c'] != None else '' }}
            {% if problem['image_c'] != None %}
            <img src="{{ url_for('static', filename='images/'+problem['image_c']) }}" height="50" />
            {% endif %}
        </label><br />
        <input type="radio" id="d" name="options" value="d" />
        <label for="d">
            (D) {{ problem['option_d'] if problem['option_d'] != None else '' }}
            {% if problem['image_d'] != None %}
            <img src="{{ url_for('static', filename='images/'+problem['image_d']) }}" height="50" />
            {% endif %}
        </label><br />
        <input type="button" onclick="checkAnswer()" value="確認答案" />
    </form>
</body>
</html>