<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>測驗</title>
</head>
<body>
    <p>{{ question }}</p>
    {% if image_q != None %}
    <img src="{{ url_for('static', filename=image_q) }}" height="100" />
    {% endif %}
    <form method="post">
        <input type="radio" id="A" name="options" value="A" />
        <label for="a">
            (A) {{ option_a if option_a != None else '' }}
            {% if image_a != None %}
            <img src="{{ url_for('static', filename=image_a) }}" height="50" />
            {% endif %}
        </label><br />
        <input type="radio" id="B" name="options" value="B" />
        <label for="b">
            (B) {{ option_b if option_b != None else '' }}
            {% if image_b != None %}
            <img src="{{ url_for('static', filename=image_b) }}" height="50" />
            {% endif %}
        </label><br />
        <input type="radio" id="C" name="options" value="C" />
        <label for="c">
            (C) {{ option_c if option_c != None else '' }}
            {% if image_c != None %}
            <img src="{{ url_for('static', filename=image_c) }}" height="50" />
            {% endif %}
        </label><br />
        <input type="radio" id="D" name="options" value="D" />
        <label for="d">
            (D) {{ option_d if option_d != None else '' }}
            {% if image_d != None %}
            <img src="{{ url_for('static', filename=image_d) }}" height="50" />
            {% endif %}
        </label><br />

        {% if proceed == True %}
        <input type="submit" value="下一題" />
        {% else %}
        <input type="submit" value="確認答案" />
        <button type="button" disabled>下一題</button>
        {% endif %}
    </form>
    {% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
    {% endfor %}
</body>
</html>